# Xcode
*.xcuserstate
*.xcscmblueprint
xcuserdata/
DerivedData/
build/
*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Packages/

# CocoaPods
Pods/

# macOS
.DS_Store
*.swp
*~

# Secrets
.env
*.keychain
